@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply font-rubik;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply bg-royalb text-white p-2 rounded text-lg shadow border border-royalb
}

.btn-primary:hover {
  @apply bg-royalbHov;
}

.btn-secondary {
  @apply bg-white text-royalb border text-lg border-royalb p-2 rounded shadow
}

.btn-secondary:hover {
  @apply  bg-gray-100
}
